In [1]:
import numpy as np
import pandas as pd
import json
import requests
import branca
import folium
folium.__version__

'0.12.1'

In [2]:
! pwd

/Users/intaewoo/Desktop/프로젝트

In [3]:
data = pd.read_csv('서울시 공영주차장.csv')
data

,주차장코드,주차장명,주소,주차장 종류,주차장 종류명,운영구분,운영구분명,전화번호,주차 면(주차 가능 차량 수),유무료구분,...,추가 단위 시간(분 단위),버스 기본 주차 요금,버스 기본 주차 시간(분 단위),버스 추가 단위 시간(분 단위),버스 추가 단위 요금,일 최대 요금,주차장 위치 좌표 위도,주차장 위치 좌표 경도,배정코드,배정코드명
0,1010089,초안산근린공원주차장(구),도봉구 창동 24-0,NW,노외 주차장,1,시간제 주차장,NaN,68,Y,...,10.0,0.0,0.0,0.0,0.0,0.0,37.649279,127.040474,PIS02,미배정미점유
1,1012254,마들스타디움(근린공원)(구),노원구 상계동 770-2,NW,노외 주차장,1,시간제 주차장,02-2289-6735,177,Y,...,5.0,0.0,0.0,0.0,0.0,11000.0,37.643917,127.058567,PIS02,미배정미점유
2,1013181,마장동공영주차장(구),성동구 마장동 463-2,NW,노외 주차장,1,시간제 주차장,NaN,53,N,...,NaN,0.0,0.0,0.0,0.0,NaN,37.569939,127.035145,PIS02,미배정미점유
3,1025695,영등포여고 공영(구),영등포구 신길동 184-3,NW,노외 주차장,1,시간제 주차장,02-2677-1401,98,Y,...,5.0,0.0,0.0,0.0,0.0,0.0,37.515205,126.915116,PIS02,미배정미점유
4,1025696,당산근린공원 공영(구),영등포구 당산동3가 385-0,NW,노외 주차장,1,시간제 주차장,02-2677-1401,190,Y,...,5.0,0.0,0.0,0.0,0.0,0.0,37.525526,126.895794,PIS02,미배정미점유
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14664,968503,삼양마을공원지하 공영주차장(구),강북구 미아동 748-2,NW,노외 주차장,1,시간제 주차장,02-944-3047,95,Y,...,5.0,0.0,0.0,0.0,0.0,10000.0,37.622745,127.018428,PIS02,미배정미점유
14665,968514,색동공원 공영주차장(구),강북구 수유동 49-7,NW,노외 주차장,1,시간제 주차장,02-985-3492,80,Y,...,5.0,0.0,0.0,0.0,0.0,10000.0,37.633227,127.020711,PIS02,미배정미점유
14666,980509,비봉주차장(구),종로구 구기동 139-9,NW,노외 주차장,1,시간제 주차장,02-391-4272,40,Y,...,5.0,0.0,0.0,0.0,0.0,NaN,37.612180,126.956535,PIS02,미배정미점유
14667,984617,신도림역환승주차장(구),구로구 구로동 1-4,NW,노외 주차장,1,시간제 주차장,NaN,65,Y,...,5.0,0.0,0.0,0.0,0.0,0.0,37.507334,126.891653,PIS02,미배정미점유
14668,984688,구로아트밸리 지하주차장(구),구로구 구로동 102-0,NW,노외 주차장,1,시간제 주차장,NaN,245,Y,...,5.0,0.0,0.0,0.0,0.0,0.0,37.496996,126.889598,PIS02,미배정미점유

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14669 entries, 0 to 14668
Data columns (total 39 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   주차장코드              14669 non-null  int64
 1   주차장명               14669 non-null  object
 2   주소                 14669 non-null  object
 3   주차장 종류             14669 non-null  object
 4   주차장 종류명            14669 non-null  object
 5   운영구분               14669 non-null  int64
 6   운영구분명              14669 non-null  object
 7   전화번호               5050 non-null   object
 8   주차 면(주차 가능 차량 수)   14669 non-null  int64
 9   유무료구분              14669 non-null  object
 10  유무료구분명             14669 non-null  object
 11  야간무료개방여부           14669 non-null  object
 12  야간무료개방여부명          14669 non-null  object
 13  평일 운영 시작시각(HHMM)   14669 non-null  int64
 14  평일 운영 종료시각(HHMM)   14669 non-null  int64
 15  주말 운영 시작시각(HHMM)   14669 non-null  int64
 16  주말 운영 종료시각(HHMM)   14669 non-null  int64
 17  공휴일 운영 시작시각(HHMM)  14669 non-null  int64
 18  공휴일 운영 종료시각(HHMM)  14669 non-null  int64
 19  최종데이터 동기화 시간       14669 non-null  object
 20  토요일 유,무료 구분        14669 non-null  object
 21  토요일 유,무료 구분명       14669 non-null  object
 22  공휴일 유,무료 구분        14669 non-null  object
 23  공휴일 유,무료 구분명       14669 non-null  object
 24  월 정기권 금액           13352 non-null  float64
 25  노상 주차장 관리그룹번호      14164 non-null  float64
 26  기본 주차 요금           14648 non-null  float64
 27  기본 주차 시간(분 단위)     14646 non-null  float64
 28  추가 단위 요금           14402 non-null  float64
 29  추가 단위 시간(분 단위)     14402 non-null  float64
 30  버스 기본 주차 요금        14645 non-null  float64
 31  버스 기본 주차 시간(분 단위)  14645 non-null  float64
 32  버스 추가 단위 시간(분 단위)  14645 non-null  float64
 33  버스 추가 단위 요금        14645 non-null  float64
 34  일 최대 요금            13701 non-null  float64
 35  주차장 위치 좌표 위도       14658 non-null  float64
 36  주차장 위치 좌표 경도       14658 non-null  float64
 37  배정코드               14669 non-null  object
 38  배정코드명              14669 non-null  object
dtypes: float64(13), int64(9), object(17)
memory usage: 4.4+ MB

In [5]:
data.describe()

,주차장코드,운영구분,주차 면(주차 가능 차량 수),평일 운영 시작시각(HHMM),평일 운영 종료시각(HHMM),주말 운영 시작시각(HHMM),주말 운영 종료시각(HHMM),공휴일 운영 시작시각(HHMM),공휴일 운영 종료시각(HHMM),월 정기권 금액,...,기본 주차 시간(분 단위),추가 단위 요금,추가 단위 시간(분 단위),버스 기본 주차 요금,버스 기본 주차 시간(분 단위),버스 추가 단위 시간(분 단위),버스 추가 단위 요금,일 최대 요금,주차장 위치 좌표 위도,주차장 위치 좌표 경도
count,1.466900e+04,14669.000000,14669.000000,14669.000000,14669.000000,14669.000000,14669.000000,14669.000000,14669.000000,13352.000000,...,14646.000000,14402.000000,14402.000000,14645.000000,14645.000000,14645.000000,14645.000000,13701.000000,14658.000000,14658.000000
mean,1.500455e+06,1.444202,76.875452,798.031154,1762.512169,672.996046,1261.019974,148.809667,373.322381,79240.638107,...,5.686194,310.834606,5.270796,0.887675,0.010925,0.007170,0.716968,9025.260930,37.550802,126.983552
std,2.432668e+05,1.059569,77.458381,309.777745,598.117876,410.264979,754.864525,364.641517,803.372635,70658.848672,...,7.971457,258.024990,5.726165,30.906875,0.529017,0.189207,18.920743,11771.982472,0.740520,0.085594
min,7.596400e+04,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,37.437190,126.798212
25%,1.504029e+06,1.000000,26.000000,900.000000,1900.000000,0.000000,1300.000000,0.000000,0.000000,0.000000,...,5.000000,150.000000,5.000000,0.000000,0.000000,0.000000,0.000000,0.000000,37.516418,126.911977
50%,1.531733e+06,1.000000,54.000000,900.000000,1900.000000,900.000000,1500.000000,0.000000,0.000000,80000.000000,...,5.000000,250.000000,5.000000,0.000000,0.000000,0.000000,0.000000,0.000000,37.543469,126.995683
75%,1.562731e+06,1.000000,95.000000,900.000000,1900.000000,900.000000,1600.000000,0.000000,0.000000,120000.000000,...,5.000000,500.000000,5.000000,0.000000,0.000000,0.000000,0.000000,15000.000000,37.568003,127.058622
max,1.913415e+06,6.000000,1432.000000,1300.000000,2400.000000,1300.000000,2400.000000,1900.000000,2400.000000,350000.000000,...,420.000000,1500.000000,120.000000,3000.000000,60.000000,5.000000,500.000000,90000.000000,127.038367,127.553014

In [6]:
data.isnull().sum(0)
data = data.drop(columns=['주차장 종류','운영구분','운영구분명','전화번호','야간무료개방여부','야간무료개방여부명','평일 운영 시작시각(HHMM)',
                   '평일 운영 종료시각(HHMM)','주말 운영 시작시각(HHMM)','주말 운영 종료시각(HHMM)','공휴일 운영 시작시각(HHMM)',
                   '공휴일 운영 종료시각(HHMM)','최종데이터 동기화 시간','토요일 유,무료 구분','토요일 유,무료 구분명','공휴일 유,무료 구분','공휴일 유,무료 구분명']
                )

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14669 entries, 0 to 14668
Data columns (total 22 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   주차장코드              14669 non-null  int64
 1   주차장명               14669 non-null  object
 2   주소                 14669 non-null  object
 3   주차장 종류명            14669 non-null  object
 4   주차 면(주차 가능 차량 수)   14669 non-null  int64
 5   유무료구분              14669 non-null  object
 6   유무료구분명             14669 non-null  object
 7   월 정기권 금액           13352 non-null  float64
 8   노상 주차장 관리그룹번호      14164 non-null  float64
 9   기본 주차 요금           14648 non-null  float64
 10  기본 주차 시간(분 단위)     14646 non-null  float64
 11  추가 단위 요금           14402 non-null  float64
 12  추가 단위 시간(분 단위)     14402 non-null  float64
 13  버스 기본 주차 요금        14645 non-null  float64
 14  버스 기본 주차 시간(분 단위)  14645 non-null  float64
 15  버스 추가 단위 시간(분 단위)  14645 non-null  float64
 16  버스 추가 단위 요금        14645 non-null  float64
 17  일 최대 요금            13701 non-null  float64
 18  주차장 위치 좌표 위도       14658 non-null  float64
 19  주차장 위치 좌표 경도       14658 non-null  float64
 20  배정코드               14669 non-null  object
 21  배정코드명              14669 non-null  object
dtypes: float64(13), int64(2), object(7)
memory usage: 2.5+ MB

In [8]:
data = data.drop(columns=['유무료구분','유무료구분명','월 정기권 금액','노상 주차장 관리그룹번호','버스 기본 주차 요금'
,'버스 기본 주차 시간(분 단위)','버스 추가 단위 시간(분 단위)','버스 추가 단위 요금','일 최대 요금','배정코드','배정코드명'])

In [9]:
data

,주차장코드,주차장명,주소,주차장 종류명,주차 면(주차 가능 차량 수),기본 주차 요금,기본 주차 시간(분 단위),추가 단위 요금,추가 단위 시간(분 단위),주차장 위치 좌표 위도,주차장 위치 좌표 경도
0,1010089,초안산근린공원주차장(구),도봉구 창동 24-0,노외 주차장,68,0.0,NaN,300.0,10.0,37.649279,127.040474
1,1012254,마들스타디움(근린공원)(구),노원구 상계동 770-2,노외 주차장,177,150.0,5.0,150.0,5.0,37.643917,127.058567
2,1013181,마장동공영주차장(구),성동구 마장동 463-2,노외 주차장,53,NaN,NaN,NaN,NaN,37.569939,127.035145
3,1025695,영등포여고 공영(구),영등포구 신길동 184-3,노외 주차장,98,50.0,5.0,50.0,5.0,37.515205,126.915116
4,1025696,당산근린공원 공영(구),영등포구 당산동3가 385-0,노외 주차장,190,150.0,5.0,150.0,5.0,37.525526,126.895794
...,...,...,...,...,...,...,...,...,...,...,...
14664,968503,삼양마을공원지하 공영주차장(구),강북구 미아동 748-2,노외 주차장,95,200.0,5.0,200.0,5.0,37.622745,127.018428
14665,968514,색동공원 공영주차장(구),강북구 수유동 49-7,노외 주차장,80,200.0,5.0,200.0,5.0,37.633227,127.020711
14666,980509,비봉주차장(구),종로구 구기동 139-9,노외 주차장,40,150.0,5.0,150.0,5.0,37.612180,126.956535
14667,984617,신도림역환승주차장(구),구로구 구로동 1-4,노외 주차장,65,100.0,5.0,100.0,5.0,37.507334,126.891653
14668,984688,구로아트밸리 지하주차장(구),구로구 구로동 102-0,노외 주차장,245,150.0,5.0,150.0,5.0,37.496996,126.889598

In [10]:
data = data.fillna(0)
data

,주차장코드,주차장명,주소,주차장 종류명,주차 면(주차 가능 차량 수),기본 주차 요금,기본 주차 시간(분 단위),추가 단위 요금,추가 단위 시간(분 단위),주차장 위치 좌표 위도,주차장 위치 좌표 경도
0,1010089,초안산근린공원주차장(구),도봉구 창동 24-0,노외 주차장,68,0.0,0.0,300.0,10.0,37.649279,127.040474
1,1012254,마들스타디움(근린공원)(구),노원구 상계동 770-2,노외 주차장,177,150.0,5.0,150.0,5.0,37.643917,127.058567
2,1013181,마장동공영주차장(구),성동구 마장동 463-2,노외 주차장,53,0.0,0.0,0.0,0.0,37.569939,127.035145
3,1025695,영등포여고 공영(구),영등포구 신길동 184-3,노외 주차장,98,50.0,5.0,50.0,5.0,37.515205,126.915116
4,1025696,당산근린공원 공영(구),영등포구 당산동3가 385-0,노외 주차장,190,150.0,5.0,150.0,5.0,37.525526,126.895794
...,...,...,...,...,...,...,...,...,...,...,...
14664,968503,삼양마을공원지하 공영주차장(구),강북구 미아동 748-2,노외 주차장,95,200.0,5.0,200.0,5.0,37.622745,127.018428
14665,968514,색동공원 공영주차장(구),강북구 수유동 49-7,노외 주차장,80,200.0,5.0,200.0,5.0,37.633227,127.020711
14666,980509,비봉주차장(구),종로구 구기동 139-9,노외 주차장,40,150.0,5.0,150.0,5.0,37.612180,126.956535
14667,984617,신도림역환승주차장(구),구로구 구로동 1-4,노외 주차장,65,100.0,5.0,100.0,5.0,37.507334,126.891653
14668,984688,구로아트밸리 지하주차장(구),구로구 구로동 102-0,노외 주차장,245,150.0,5.0,150.0,5.0,37.496996,126.889598

In [11]:
#어느구인지

In [28]:
data['지역구']=''
data

,주차장코드,주차장명,주소,주차장 종류명,주차 면(주차 가능 차량 수),기본 주차 요금,기본 주차 시간(분 단위),추가 단위 요금,추가 단위 시간(분 단위),주차장 위치 좌표 위도,주차장 위치 좌표 경도,지역구
0,1010089,초안산근린공원주차장(구),도봉구 창동 24-0,노외 주차장,68,0.0,0.0,300.0,10.0,37.649279,127.040474,
1,1012254,마들스타디움(근린공원)(구),노원구 상계동 770-2,노외 주차장,177,150.0,5.0,150.0,5.0,37.643917,127.058567,
2,1013181,마장동공영주차장(구),성동구 마장동 463-2,노외 주차장,53,0.0,0.0,0.0,0.0,37.569939,127.035145,
3,1025695,영등포여고 공영(구),영등포구 신길동 184-3,노외 주차장,98,50.0,5.0,50.0,5.0,37.515205,126.915116,
4,1025696,당산근린공원 공영(구),영등포구 당산동3가 385-0,노외 주차장,190,150.0,5.0,150.0,5.0,37.525526,126.895794,
...,...,...,...,...,...,...,...,...,...,...,...,...
14664,968503,삼양마을공원지하 공영주차장(구),강북구 미아동 748-2,노외 주차장,95,200.0,5.0,200.0,5.0,37.622745,127.018428,
14665,968514,색동공원 공영주차장(구),강북구 수유동 49-7,노외 주차장,80,200.0,5.0,200.0,5.0,37.633227,127.020711,
14666,980509,비봉주차장(구),종로구 구기동 139-9,노외 주차장,40,150.0,5.0,150.0,5.0,37.612180,126.956535,
14667,984617,신도림역환승주차장(구),구로구 구로동 1-4,노외 주차장,65,100.0,5.0,100.0,5.0,37.507334,126.891653,
14668,984688,구로아트밸리 지하주차장(구),구로구 구로동 102-0,노외 주차장,245,150.0,5.0,150.0,5.0,37.496996,126.889598,

In [30]:
for i in range(len(data)):
    data['지역구']=data['주소'].str.split(' ')[0][0]
data

,주차장코드,주차장명,주소,주차장 종류명,주차 면(주차 가능 차량 수),기본 주차 요금,기본 주차 시간(분 단위),추가 단위 요금,추가 단위 시간(분 단위),주차장 위치 좌표 위도,주차장 위치 좌표 경도,지역구
0,1010089,초안산근린공원주차장(구),도봉구 창동 24-0,노외 주차장,68,0.0,0.0,300.0,10.0,37.649279,127.040474,도봉구
1,1012254,마들스타디움(근린공원)(구),노원구 상계동 770-2,노외 주차장,177,150.0,5.0,150.0,5.0,37.643917,127.058567,도봉구
2,1013181,마장동공영주차장(구),성동구 마장동 463-2,노외 주차장,53,0.0,0.0,0.0,0.0,37.569939,127.035145,도봉구
3,1025695,영등포여고 공영(구),영등포구 신길동 184-3,노외 주차장,98,50.0,5.0,50.0,5.0,37.515205,126.915116,도봉구
4,1025696,당산근린공원 공영(구),영등포구 당산동3가 385-0,노외 주차장,190,150.0,5.0,150.0,5.0,37.525526,126.895794,도봉구
...,...,...,...,...,...,...,...,...,...,...,...,...
14664,968503,삼양마을공원지하 공영주차장(구),강북구 미아동 748-2,노외 주차장,95,200.0,5.0,200.0,5.0,37.622745,127.018428,도봉구
14665,968514,색동공원 공영주차장(구),강북구 수유동 49-7,노외 주차장,80,200.0,5.0,200.0,5.0,37.633227,127.020711,도봉구
14666,980509,비봉주차장(구),종로구 구기동 139-9,노외 주차장,40,150.0,5.0,150.0,5.0,37.612180,126.956535,도봉구
14667,984617,신도림역환승주차장(구),구로구 구로동 1-4,노외 주차장,65,100.0,5.0,100.0,5.0,37.507334,126.891653,도봉구
14668,984688,구로아트밸리 지하주차장(구),구로구 구로동 102-0,노외 주차장,245,150.0,5.0,150.0,5.0,37.496996,126.889598,도봉구

In [14]:
data['지역구']=data['지역구'].str.split(' ')[0][0]

In [ ]:
from folium import plugins